<!-- Footer -->
<footer class="page-footer font-small mt-3 animated fadeInUp delay-1s" style="background-color: #00c851!important;bottom: 0;position: fixed;width: 100%">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Blog.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->