<nav class="navbar navbar-expand-lg bg-dark navbar-dark animated slideInDown" style="margin-bottom: 40px;margin-left: -15px;margin-right: -15px">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#"><img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/New_Jersey_Devils_logo.svg/220px-New_Jersey_Devils_logo.svg.png"
            width="30" height="30" alt=""></a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact Us</a>
        </li>
    </ul>
</nav>
