<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About US</title>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <div class="container">
        <div class="page-header">
            <p>About Us</p>
        </div>
        <div class="row" style="font-family: 'Courier New', Courier, monospace">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="font-size: 20px;">
                <p style="justify-content:space-around">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget congue nulla, et hendrerit dolor.
                    Donec et condimentum est. Vestibulum accumsan consequat dapibus. Sed tincidunt mi ac vulputate
                    ultricies. Phasellus cursus consequat quam, sed aliquam eros accumsan nec. Nulla orci massa,
                    ultrices
                    sed tempus vel, bibendum eu arcu. Proin eu lacus ultricies, euismod velit vitae, suscipit nunc.
                    Nulla
                    posuere nisl felis, nec vulputate erat euismod at. Pellentesque ut leo vitae lacus mattis
                    ullamcorper eu
                    a arcu. Vivamus ligula dui, imperdiet sit amet enim sit amet, rutrum sagittis lorem. Quisque et
                    consequat ex, ac iaculis tellus. Integer condimentum eget lacus ut finibus.
                </p>
                <p>
                    Maecenas sagittis, nunc vitae fringilla efficitur, nunc ipsum tristique velit, eu vulputate arcu
                    tortor
                    nec erat. Etiam finibus dignissim massa nec commodo. Quisque porttitor, felis in lacinia interdum,
                    sapien urna luctus magna, in tristique ipsum ligula vitae est. Maecenas finibus risus sit amet
                    lacinia
                    volutpat. Sed at ultrices nisi. Vivamus id neque et lacus rhoncus malesuada vitae quis metus. Duis
                    id
                    nisi aliquam, aliquam risus vitae, bibendum velit. Nunc eleifend commodo mi nec porttitor. Sed sit
                    amet
                    cursus sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus.
                    Donec accumsan interdum ante, vel tempor nisl tincidunt in. Donec eu lobortis erat.
                </p>
                <p>
                    Curabitur tempus lorem quis urna pulvinar, at dictum massa convallis. Phasellus posuere quis nulla
                    et
                    tempor. Maecenas iaculis orci et dui aliquet mattis. Aenean lacinia a nulla et fermentum. Ut
                    efficitur,
                    enim sed accumsan posuere, elit orci porttitor mauris, sit amet dignissim mi ligula at tellus.
                    Praesent
                    gravida, arcu non consectetur malesuada, lorem tellus ullamcorper leo, id cursus nibh urna ac
                    ligula.
                    Pellentesque semper blandit diam et elementum. Sed ut purus et lectus pulvinar dictum.
                </p>
            </div>
        </div>
    </div>

    <%- include('includes/foot.ejs') %>